@model PostDetailsViewModel
@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div id="imgDescr" class="table-hover">
        <table align="left" class="table-condensed table-responsive">
            <tbody>
                <tr>
                    <td id="imgDescrTd">
                        @if (Model.Images.Count == 0)
                        {
                            <img id="detailsImg" src="http://placehold.it/500x300" class="img-responsive" />

                        }
                        else
                        {
                            var profileImage = Convert.ToBase64String(Model.Images.First(x => x.IsProductProfilePicture).ImageBytes);
                            <img src="data:image;base64,@profileImage" id="detailsImg">

                            @*<div class="container">
                                    <div id="main_area">
                                        <!-- Slider -->
                                        <div class="row">
                                            <div class="col-xs-12" id="slider">
                                                <!-- Top part of the slider -->
                                                <div class="row">
                                                    <div class="col-sm-8" id="carousel-bounding-box">
                                                        <div class="carousel slide" id="myCarousel">
                                                            <!-- Carousel items -->
                                                            <div class="carousel-inner">
                                                                <div class="active item" data-slide-number="0">
                                                                    <img src="http://placehold.it/770x300&text=one">
                                                                </div>
                                                                <div class="item" data-slide-number="1">
                                                                    <img src="http://placehold.it/770x300&text=two">
                                                                </div>
                                                                <div class="item" data-slide-number="2">
                                                                    <img src="http://placehold.it/770x300&text=three">
                                                                </div>
                                                                <div class="item" data-slide-number="3">
                                                                    <img src="http://placehold.it/770x300&text=four">
                                                                </div>
                                                                <div class="item" data-slide-number="4">
                                                                    <img src="http://placehold.it/770x300&text=five">
                                                                </div>
                                                                <div class="item" data-slide-number="5">
                                                                    <img src="http://placehold.it/770x300&text=six">
                                                                </div>
                                                            </div><!-- Carousel nav -->
                                                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                            </a>
                                                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" id="carousel-text"></div>
                                                    <div id="slide-content" style="display: none;">
                                                        <div id="slide-content-0">
                                                            <h2>Slider One</h2>
                                                            <p>Lorem Ipsum Dolor</p>
                                                            <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-1">
                                                            <h2>Slider Two</h2>
                                                            <p>Lorem Ipsum Dolor</p>
                                                            <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-2">
                                                            <h2>Slider Three</h2>
                                                            <p>Lorem Ipsum Dolor</p>
                                                            <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-3">
                                                            <h2>Slider Four</h2>
                                                            <p>Lorem Ipsum Dolor</p>
                                                            <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-4">
                                                            <h2>Slider Five</h2>
                                                            <p>Lorem Ipsum Dolor</p>
                                                            <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                                        </div>
                                                        <div id="slide-content-5">
                                                            <h2>Slider Six</h2>
                                                            <p>Lorem Ipsum Dolor</p>
                                                            <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/Slider-->
                                        <div class="row hidden-xs" id="slider-thumbs">
                                            <!-- Bottom switcher of slider -->
                                            <ul class="hide-bullets">
                                                <li class="col-sm-2">
                                                    <a class="thumbnail" id="carousel-selector-0"><img src="http://placehold.it/170x100&text=one"></a>
                                                </li>
                                                <li class="col-sm-2">
                                                    <a class="thumbnail" id="carousel-selector-1"><img src="http://placehold.it/170x100&text=two"></a>
                                                </li>
                                                <li class="col-sm-2">
                                                    <a class="thumbnail" id="carousel-selector-2"><img src="http://placehold.it/170x100&text=three"></a>
                                                </li>
                                                <li class="col-sm-2">
                                                    <a class="thumbnail" id="carousel-selector-3"><img src="http://placehold.it/170x100&text=four"></a>
                                                </li>
                                                <li class="col-sm-2">
                                                    <a class="thumbnail" id="carousel-selector-4"><img src="http://placehold.it/170x100&text=five"></a>
                                                </li>
                                                <li class="col-sm-2">
                                                    <a class="thumbnail" id="carousel-selector-5"><img src="http://placehold.it/170x100&text=six"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                        }
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:3%;">
                        @Model.Description
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top:4.5%; margin-left:830px;">
        <h2>@Model.Title</h2>
        <table class="table-hover table-responsive table-condensed">
            <tr>
                <th>Seller:</th>
                <td><a asp-area="User" asp-controller="Profile" asp-action="Profile" asp-route-username="@Model.Owner.UserName">@Model.Owner.UserName</a></td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td>@Model.Owner.FirstName</td>
            </tr>
            @if (!string.IsNullOrWhiteSpace(Model.Owner.MiddleName))
            {
                <tr>
                    <th>Middle Name:</th>
                    <td>@(Model.Owner.MiddleName ?? "--")</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Owner.LastName))
            {
                <tr>
                    <th>Last Name:</th>
                    <td>@(Model.Owner.LastName ?? "--")</td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Owner.PhoneNumber))
            {
                <tr>
                    <th>Phone number:</th>
                    <td>@Model.Owner.PhoneNumber</td>
                </tr>
            }
            <tr>
                <th>Location:</th>
                <td>@Model.Owner.Area, @Model.Owner.Country</td>
            </tr>
            <tr>
                <th>Price:</th>
                <td>@Model.Price USD</td>
            </tr>
            <tr>
                <th>Category:</th>
                <td>@Model.Category</td>
            </tr>
            <tr>
                <th>Submission Date:</th>
                <td>@Model.SubmissionDate</td>
            </tr>
            <tr>
                <th>Views:</th>
                <td>@Model.ViewsCount</td>
            </tr>
            <tr>

                @if (User.IsInRole("Administrator") || User.Identity.Name == Model.Owner.UserName)
                {
                    <th>
                        <form>
                            <a asp-area="Post" asp-controller="Delete" asp-action="Delete" asp-route-id="@Model.Id" style="margin-top: 10px;" class="btn btn-danger">Delete</a>
                        </form>
                    </th>
                }

                @if (User.Identity.Name == Model.Owner.UserName)
                {
                    <th>
                        <a asp-area="Post" asp-controller="Update" asp-action="Update" asp-route-postId="@Model.Id" style="margin-top: 10px;" class="btn btn-warning">Edit Post</a>
                    </th>
                }
                else
                {

                    @if (User.Identity.IsAuthenticated)
                    {
                        <th>
                            <form>
                                <a asp-area="Post" asp-controller="Order" asp-action="Order" asp-route-productId="@Model.Id" style="margin-top: 10px;" class="btn btn-success">Order</a>
                            </form>
                        </th>

                        <th>
                            <a style="margin-top:10px;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@Model.Owner">Send Message</a>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="post" asp-area="Communication" asp-controller="SendMessage" asp-action="SendMessageAsync">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                    <input type="text" class="form-control" id="recipient-name" value="@Model.Owner.UserName" readonly />
                                                    <input type="hidden" name="recieverId" value="@Model.Owner.Id" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-form-label">Message:</label>
                                                    <textarea name="text" id="sentMessage" class="form-control"></textarea>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Send message</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </th>
                    }
                }
            </tr>
        </table>
    </div>
</div>