@model IEnumerable<UserListingServiceModel>
@{
    ViewData["Title"] = "_UserListingPartial";
}

<script src="https://use.fontawesome.com/1e803d693b.js"></script>

<div class="container">
    <div class="row">
        <div class="panel panel-default user_panel">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="table-container">
                    <table class="table-users table" border="0">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Username</td>
                                <td>Location</td>
                                <td>Email</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td width="5" align="center">
                                        @if (user.ProfilePicture != null)
                                        {
                                            <img id="profileImgListing" class="pull-left img-circle nav-user-photo" src="data:image;base64,@System.Convert.ToBase64String(user.ProfilePicture)" />
                                        }
                                        else
                                        {
                                            <i class="fa fa-2x fa-user fw"></i>
                                        }
                                    </td>
                                    <td>
                                        <a asp-area="User" asp-controller="Profile" asp-action="Profile" asp-route-username="@user.UserName">@user.UserName</a>
                                        <br>
                                        <i class="fa fa-envelope" data-toggle="modal" data-target="#exampleModal"></i>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form method="get" asp-area="Communication" asp-controller="SendMessage" asp-action="SendMessageAsync">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                                <input type="text" class="form-control" id="recipient-name" value="@user.UserName" readonly />
                                                                <input type="hidden" name="recieverId" value="@user.Id" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-form-label">Message:</label>
                                                                <textarea name="text" id="sentMessage" class="form-control"></textarea>
                                                                <span class="text-danger"></span>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-primary">Send message</button>
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @user.Area, @user.Country
                                    </td>
                                    <td>
                                        @user.Email
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>